@media all and (max-width: 1000px) {
.list {
  width: 50%;
}
}


@media all and (max-width: 670px) {
.members-wrapper {
  padding-top: 100px;
}
  
.list {
  margin-top: 1px;
  width: 100%;
  display: block;
}

.support {
  width: 100%;
  display: block;
}
.menu-icon{
  display: block;
}

.header-right{
  display: none;
}

.bagian-extra2 {
  float: left;
  width: 100%;
}
  
input, textarea {
  width:300px;
  margin-top:10px;
  padding:10px;
  border:1px solid #dee7ec;
}

footer img{
  width: 50px;
}

footer{
  text-align: left;
}

}
